table img {
    border-radius: 10px;
    width: 150px;
    height: 100px;
}

table {
    width: 90%;
    margin: 20px auto; 
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid #ddd;
    border-radius: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

tr:nth-child(odd) {
    background-color: white;
}

.DataForm {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
}

.btnsubmit {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color: #39A7FF;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }

  .btncontainer{
    min-height: 150px;
  }

