* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.detail-produk {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-produk h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.detail-produk img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.detail-produk p {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
